CompileFlags:
  Add: [-ferror-limit=0]

If:
  PathMatch: [
    include/runtime/vm_ops.h,
    include/common/opcode_list.h,
    include/common/common.h,
    include/runtime/do_cast.h
  ]

Index:
  Background: Skip

Diagnostics:
  Suppress: ["*"]
  UnusedIncludes: None
