build/
*.html
*.pdf
.ccls-cache/
*.out
*.class
cspell.json
out/
*.dot
test-kl/*.klc
test-kl/test-ir/*.klc
misc/*.klc
*.tag
*.tags
perf.data
perf.data.old
test_shm_open
test_shm_read
examples/*.klc
bench/*.klc
