*.out
koala_yacc.*
koala_lex.*
koala_tokens.h
*.klc
*.a
*.o
*.so
koalac
koala
.gdbinit
1
2
*.class
*.java
*.py
*.pyc
*.d
libkoala*
.DS_Store
GPATH
GRTAGS
GTAGS
.vscode
.vscode/settings.json
manual.html
manual.org.bak
build/*
.dir-locals.el

klc
libtask.so.0
libtask.so.0.5
include/config.h
