*.out
koala_yacc.*
koala_lex.*
*.klc
*.a
*.o
*.so
koalac
.gdbinit
*.class
*.java
*.py
*.pyc
*.d
libkoala*
.DS_Store
GPATH
GRTAGS
GTAGS
.vscode/*
manual.html
manual.org.bak
build/*

libtask.so.0
libtask.so.0.5
include/config.h
bin/test_*

todeleted/*
doc/*.png
.vscode/ipch/*
*.output
